* {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    width: 100vw;
}

.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    top: 0;
}

.my-container {
    width: 600px;
    height: 350px;
    position: relative;
    border: 1px solid #000;
}

.img-preview {
    overflow: hidden;
}

.preview-container {
    border: 1px solid #000;
    width: 350px;
    height: 120px;
}