* {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    width: 100vw;
}

.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    top: 0;
}

.my-container {
    width: 750px;
    height: 450px;
    position: relative;
    border: 1px solid #000;
}

.img-preview {
    overflow: hidden;
}

.preview-container {
    border: 1px solid #000;
    width: 350px;
    height: 120px;
}

.cropper-console * {
    font-size: 12px;
}

span.fa.large {
    font-size: 125%;
}

.cropper-console .modal-body > img, .docs-cropped .modal-body > canvas {
    max-width: 100%;
}

